# IntelliJ IDEA
.idea/
*.iml

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

.venv/
myMusic-venv/
__pycache__/
*.pyc
*.log
data/downloads/
docs/
dist/
build/
myMusic-v*-windows.zip
myMusic-v*-windows-setup.exe
release/

# Local bundled binaries
tools/ffmpeg/
tools/deno/
