# IntelliJ IDEA
.idea/
*.iml

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

.venv/
myMusic-venv/
__pycache__/
*.pyc
*.log
data/downloads/
dist/
build/
myMusic.spec

# Local bundled binaries
tools/ffmpeg/
